
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    background-color: #4a525a;
    color: #eee;
}

header {
    text-align: center;
}


h1, h2, h3 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    color: #28abb9;
    font-size: xx-large;
}

h2 {
    color: #28abb9;
    font-size: x-large;
}

h4 {
    color: #ffd57e;
    font-size: large;
}

.profile-pic {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

a {
    text-decoration: underline;
    color: aqua;
}

footer {
    text-align: center;
}